# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt


/.sourcemaps
/.versions
/coverage

# Ionic
/.ionic
/www
/platforms
/plugins

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-project
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*


# Miscellaneous
/.angular
/.angular/cache
.sass-cache/
/.nx
/.nx/cache
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db


# ==========================================
# Entorno Nativo de Android (Capacitor)
# ==========================================
# Ignoramos las carpetas de compilación local de Android
android/build/
android/app/build/
android/.gradle/

# Ignoramos el archivo de configuración local del SDK (este cambia en cada PC)
android/local.properties

# Ignoramos archivos de captura, APKs compilados y llaves de firma
android/captures/
*.apk
*.aar
*.keystore

# Evitar subir configuraciones específicas del IDE de Android Studio
android/.idea/
*.iml