
<ion-content [fullscreen]="true" class="ion-padding" color="dark">
  <div class="welcome-container">
    <img src="assets/icon/favicon.png" class="logo" />
    <h1>Bienvenido a <span>CryptoPulse</span></h1>
    <p>Tu puerta de acceso a los mercados financieros en tiempo real. 
       Monitorea el top 10 de criptomonedas con datos directos de la API de CoinGecko.</p>
    
    <div class="features">
      <ion-chip><ion-icon name="flash"></ion-icon><ion-label>Tiempo Real</ion-label></ion-chip>
      <ion-chip><ion-icon name="shield-checkmark"></ion-icon><ion-label>Seguro</ion-label></ion-chip>
    </div>

    <ion-button expand="block" shape="round" color="primary" routerLink="/tabs/tab1">
      Explorar Mercados
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
        
